@import "./utils/variables";
@import "./utils/visually-hidden";
@import "./components/page-header";
@import "./components/logo";
@import "./components/common";
@import "./components/footer-contacts";
@import "./components/header-contacts";
@import "./components/main-header";
@import "./components/modal";
@import "./components/page-footer";
@import "./components/portfolio";
@import "./components/section-advantages";
@import "./components/section-clients";
@import "./components/section-occupation";
@import "./components/section-team";