body {
    background-color: var(--white-color);
    color: var(--title-text-color);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    margin: 0;
    /*padding-top: 80px;*/
}

.main {
    flex: 1 1 auto;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.site-nav {
    display: flex;
    margin-left: 93px;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}


.section.no-padding {
    padding-top: 0;
}

.occupation-title,
.team-title,
.clients-title {
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
}

.occupation-works .occupation-works__item+.occupation-works__item,
.advantages .advantages-item+.advantages-item,
.workers .workers__item+.workers__item {
    margin-left: 30px;
}