/*.main-header {
    text-align: center;
    padding: 200px 0 200px
}*/

.overlay {
    max-width: 1600px;
    margin: 0 auto;
    padding: 118px 0;

    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/header-bg-480.jpg") no-repeat center/cover, #C4C4C4;

    @media (min-device-pixel-ratio: 2), (min-resolution:192dpi), (min-resolution: 2dppx) {
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/header-bg-480@2x.jpg") no-repeat center/cover, #C4C4C4;
    }

    @media screen and (min-width: $tablet) {
        background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/header-bg-768.jpg") no-repeat center/cover, #C4C4C4;

        @media (min-device-pixel-ratio: 2), (min-resolution:192dpi), (min-resolution: 2dppx) {
            background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/header-bg-768@2x.jpg") no-repeat center/cover, #C4C4C4;
        }
    }

    @media screen and (min-width: $desktop) {
        background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/header-bg-1200.jpg") no-repeat center/cover, #C4C4C4;

        @media (min-device-pixel-ratio: 2), (min-resolution:192dpi), (min-resolution: 2dppx) {
            background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/header-bg-1200@2x.jpg") no-repeat center/cover, #C4C4C4;
        }
    }
}

.main-header__title {
    color: var(--white-color);

    /*margin-top: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;*/
    max-width: 696px;
    
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (min-width: $desktop) {
        font-size: 44px;
        line-height: 1.36;
    }
}

.main-header__button {
    margin-top: 30px;
    display: inline-block;
    border: 1px solid transparent;
    min-width: 216px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 10px 32px;
    background-color: var(--accent-color);
    color: var(--white-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    outline: none;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}