.container__header {
    display: flex;
    align-items: center;
}

.header {
    border-bottom: 1px solid #ECECEC;
}

.site-nav {
    display: flex;
    margin-left: 93px;
}

.site-nav .site-nav__item+.site-nav__item {
    margin-left: 50px;
}

.site-nav .site-nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--title-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


    .site-nav &:hover,
    .site-nav &:focus {
    color: var(--accent-color);
    outline: none;
    }
}

.link--current {
    position: relative;
}

.link--current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;

    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
}

.site-nav .link--current {
    color: var(--accent-color);
}