.clients-company {
    display: flex;
    gap: 30px;
}

.company__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid var(--icons-grey);
    color: var(--icons-grey);
    border-radius: 4px;

    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border-color: var(--accent-color);
        outline: none;

        transition-property: border-color, fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}



.company__logo:hover .company__icon,
.company__logo:focus .company__icon {
    border-color: var(--accent-color);
    fill: var(--accent-color);
}

.company__icon {
    width: 106px;
    height: 60px;
    fill: currentColor;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border-color: var(--accent-color);
        fill: var(--accent-color);
    }
}

