.advantages {
    /*display: flex;*/

    /*@extend %list;*/

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
    }
}

.advantages-item {
    /*text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color
    font-size
    */
    @media screen and (min-width: 768px) {
        width: 50%;
        .element {
                flex-basis: calc((100% - кол-во маржинов в строке * значение маржина) / кол-во элементов в строке);
            }
    }

    @media screen and (min-width: 1200px) {
        width: 100%;
    }
}

.advantages-item:not(:last-child) {
    margin-bottom: 30px;
}

.advantages-item__card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    height: 120px;
    width: 270px;
    background: var(--secondary-bg-color);
    border-radius: 4px;
}

.card__icon {
    width: 70px;
    height: 70px;
}

.advantages-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.advantages-desc {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--description-text-color);
    line-height: 1.71;
    letter-spacing: 0.03em;
}