:root {
    --title-text-color: #212121;
    --description-text-color: #757575;
    --white-color: #FFFFFF;
    --accent-color: #2196F3;
    --black-color: #000000;
    --secondary-bg-color: #F5F4FA;
    --dark-bg-coolor: #2F303A;
    --icons-grey: #AFB1B8;
}